@using MovieRentalSystem.Models;
@using MovieRentalSystem.Models.ViewClasses;
@model IList<Pacient>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="~/Content/Site.css" rel="stylesheet" />
<style>

    #new-message-input {
        float: left;
        clear: left;
        min-width: 567px;
        min-height: 100px;
        padding: 10px;
    }

    #medical-notes {
        min-height: 300px;
    }

    .actual-message {
        border: 1px solid blue;
        padding: 10px;
        margin: 10px;
    }

    .send-message-container {
        width: 100%;
        float: left;
    }



</style>


<form action="" class="search-bar">
    <input type="search" id="Search" placeholder="Search" class="form-control" />
    <i class="fa fa-search"></i>
</form>

<div class="positioning-container">
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead class="table-head">
                                <tr class="row100 head">
                                    <th class="entries cell100 column1">Nume</th>
                                    <th class="entries cell100 column2">Varsta</th>
                                    <th class="entries cell100 column3">Adresa</th>
                                    <th class="entries cell100 column4">Telefon</th>
                                    <th class="entries cell100 column5">Altele</th>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table class="movie-table">
                            <tbody>
                                @foreach (var currentPacient in Model)
                                {
                                    <tr id="@currentPacient.Id" class="Search">
                                        <td class="entries cell100 column1">@currentPacient.Nume  @currentPacient.Prenume</td>
                                        <td class="entries cell100 column2">@currentPacient.Varsta</td>
                                        <td class="entries cell100 column3">@currentPacient.Adresa</td>
                                        <td class="entries cell100 column4">@currentPacient.Telefon</td>
                                        <td class="entries cell100 column5">
                                            @if (GlobalClass.UserType == (int)USER_TYPE_ENUM.MEDIC || GlobalClass.UserType == (int)USER_TYPE_ENUM.PACIENT)
                                            {
                                                <button class="btn-primary" onclick="showNotesModal('@currentPacient.UserId')">SHOW NOTES</button>
                                                <button class="btn-primary" onclick="goToPacientDetails('@currentPacient.Id')">DETAILS</button>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Home/Modals/ModalMesaje.cshtml", new List<NotesViewModel>())
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    var currentlySelectedReciverId = "";

    var goToPacientDetails = function (pacientId) {
        window.location.href = "/Pacient/GetSpecificPacient?pacientId=" + pacientId;
    }


    var deleteNote = function (noteId, reciverId) {

        ajaxHelper.post(
            '/Home/DeleteNote',
            {
                noteId: noteId
            },
            function (response) {
                debugger;

                if (response) {
                    ajaxHelper.getView(
                        '/Home/GetNotes',
                        {
                            pacientId: reciverId
                        },
                        function (partialView) {
                            $("#medical-notes").html(partialView);
                        },
                        function (err) {
                            alert('error');
                        }
                    );
                }

            },
            function () {
                alert('error');
            }
        );


    }

    var showNotesModal = function (userId) {
        debugger;
        currentlySelectedReciverId = userId;
        ajaxHelper.getView(
            '/Home/GetNotes',
            {
                userId: userId
            },
            function (partialView) {
                $("#medical-notes").html(partialView);
                $("#inchirieri-modal").modal('show');
            },
            function (err) {
                alert('error');
            }
        );
    }

    var sendMessage = function () {
        var message = $('#new-message-input').val();
        var senderId = '@GlobalClass.UserId';
        var reciverId = currentlySelectedReciverId;

        ajaxHelper.post(
            '/Home/SaveMessage',
            {
                message: message,
                senderId: senderId,
                reciverId: reciverId
            },
            function (response) {
                    debugger;
                if (response) {
                    ajaxHelper.getView(
                        '/Home/GetNotes',
                        {
                            userId: reciverId
                        },
                        function (partialView) {
                            $("#medical-notes").html(partialView);
                        },
                        function (err) {
                            alert('error');
                        }
                    );
                }
            },
            function () {
                alert('error');
            }
        );

    }



    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLocaleLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLocaleLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>