@using MovieRentalSystem.Models;
@using MovieRentalSystem.Models.ViewClasses;
@model IList<Movie>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<style>
    .search-bar {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
        margin-top: 6%;
    }

    .form-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }

    .fa {
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #216a7c;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    form:hover {
        width: 200px;
        cursor: pointer;
    }

        form:hover input {
            display: block;
        }

        form:hover .fa {
            background-color: rgb(33, 106, 124);
            color: white;
        }

    .rent-button {
        background-color: #216a7c;
        -moz-border-radius: 42px;
        -webkit-border-radius: 42px;
        border-radius: 42px;
        border: 2px solid #18ab29;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Verdana;
        font-size: 25px;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
    }

        .rent-button:hover {
            background-color: white;
            color: #216a7c;
        }
</style>


<form action="" class="search-bar">
    <input type="search" id="Search" placeholder="Search" class="form-control" />
    <i class="fa fa-search"></i>
</form>

<div class="positioning-container">
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead class="table-head">
                                <tr class="row100 head">
                                    <th class="cell100 column1">Poza</th>
                                    <th class="cell100 column2">Nume</th>
                                    <th class="cell100 column3">Tip</th>
                                    <th class="cell100 column4">An</th>
                                    <th class="cell100 column5">Stare</th>
                                    <th class="cell100 column6">Inchiriaza</th>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table class="movie-table">
                            <tbody>
                                @foreach (var filmulCurrent in Model)
                                {
                                    <tr id="@filmulCurrent.Id" class="Search">
                                        <td class="cell100 column1"><img src="@filmulCurrent.UrlPicture" /></td>
                                        <td class="cell100 column2">@filmulCurrent.Name</td>
                                        <td class="cell100 column3">@filmulCurrent.Tip</td>
                                        <td class="cell100 column4">@filmulCurrent.An</td>
                                        @if (filmulCurrent.IsRented == 0 || filmulCurrent.IsRented == null)
                                        {
                                            <td class="cell100 column5">Liber</td>
                                        }
                                        else if (filmulCurrent.IsRented == 1)
                                        {
                                            <td class="cell100 column5">Inchiriat</td>
                                        }
                                        @if (filmulCurrent.IsRented != 1)
                                        {
                                            <td class="cell100 column6">
                                                <input class="rent-button" type="button" value="+" onclick="IncrementCart('@filmulCurrent.Id')" />
                                            </td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    var listFilmeInchiriate = [];

    var IncrementCart = function (id) {
        var dontPush = false;
        listFilmeInchiriate.forEach(function (idFilm) {
            if (idFilm == id) {
                dontPush = true;
                return;
            }
        });

        if (dontPush == true) {
            return;
        }

        listFilmeInchiriate.push(id);
        var cartCounterCurrentValue = $(".cart-counter-value").text();
        $(".cart-counter-value").text(parseInt(cartCounterCurrentValue) + 1);

        saveMoviesId(listFilmeInchiriate);
    }

    var saveMoviesId = function (listaFilme) {
        var url = "/Home/SaveItemsList";
        ajaxHelper.post(url,
            listaFilme,
            function () {
            },
            function () {
                alert("eroare");
            }
        );
    }

    $("#inchirieri-modal").on('hide.bs.modal', function () {
        isOpen = false;
    });

    $(document).ready(function () {

        $("#inchirieri-modal").modal({
            backdrop: null,
            keyboard: false
        });

        $("#inchirieri-modal").modal('hide');
    });

    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLocaleLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLocaleLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>