@using MovieRentalSystem.Models;
@model IList<Movie>

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<style>
    .input-group {
        position: absolute;
        top: 50%;
        left: 50%;
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        padding: 1px;
    }
</style>

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="Search" placeholder="Search" class="form-control" />
            <a class="search-bth" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </div>
</div>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead class="table-head">
                            <tr class="row100 head">
                                <th class="cell100 column1">Picture</th>
                                <th class="cell100 column2">Movie name</th>
                                <th class="cell100 column3">Tip</th>
                                <th class="cell100 column4">An</th>
                                <th class="cell100 column5">State</th>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table class="movie-table">
                        <tbody>
                            @foreach (var filmulCurrent in Model)
                            {
                                <tr id="@filmulCurrent.Id" class="Search">
                                    <td class="cell100 column1"> <img src="@filmulCurrent.UrlPicture"> </td>
                                    <td class="cell100 column2">@filmulCurrent.Name</td>
                                    <td class="cell100 column3">@filmulCurrent.Tip</td>
                                    <td class="cell100 column3">@filmulCurrent.An</td>
                                    @if (filmulCurrent.IsRented == 0 || filmulCurrent.IsRented == null)
                                    {
                                        <td class="cell100 column5">Liber</td>
                                    }
                                    else if (filmulCurrent.IsRented == 1)
                                    {
                                        <td class="cell100 column5">Inchiriat</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLocaleLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLocaleLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>